* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

a {
    color: white;
}

.header-section, .hero-section {
    background-color: #1F2937;
    color: white;
}

.feature-section, .footer-section {
    background-color: white;
}

.quote-section {
    background-color: #E5E7EB;
}