* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between;
}

a {
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 28px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 28px;
}

h3 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 16px;
}

h4 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 16px;
}

p, .header-links {
    font-size: 16px;
    margin: 0px;
}

.header-section, .hero-section, .feature-section, .quote-section, .footer-section, .copyright-section {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.header-section, .hero-section, .copyright-section {
    background-color: #1F2937;
    color: white;
}

.feature-section, .footer-section {
    background-color: white;
}

.quote-section {
    background-color: #E5E7EB;
}

.header-container, .hero-container, .feature-container, .quote-container, .footer-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 80px;
}

.hero-button, .footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 8px 16px;
    border-radius: 10px;
    color: white;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    height: auto;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 16%;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.hero-container {
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 24px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-button {
    background-color: #3882F6;
    margin-top: 28px;
}

.feature-container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.feature-content {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-image {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 20px;
    border-color: #3882F6;
    margin-bottom: 16px;
}

.quote-container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.footer-container {
    justify-content: center;
    align-items: center;
    gap: 360px;
    background-color: #3882F6;
    color: white;
    margin-top: 80px;
    border-radius: 10px;
    padding: 40px 40px;
}

.footer-button {
    background-color: #3882F6;
    border-style: solid;
    border-color: white;
}